<div data-controller="projects-list-component--projects-list-component">
    <% @projects.each do |project| %>
        <turbo-frame id="<%= dom_id(project) %>">
            <%= project.title %>
            <p><%= project.description %></p>
        </turbo-frame>
    <% end %>
</div>
