<div data-controller="comments-list-component--comments-list-component">
  <% unless @comments.empty? %>
    <h4 class='font-bold mb-1'><%= title %></h4>
  <% end %>

  <% @comments.each do |comment| %>
    <turbo-frame id="<%= dom_id(comment) %>">
      <div class="mb-2 p-4 bg-zinc-100 rounded">
        <% if show_project_link %>
          <div>
            <%= link_to comment.project.title,
                        project_path(comment.project_id),
                        data: { turbo_frame: "sidebar" } %>
          </div>
        <% end %>

        <%= comment.body %>
      </div>
    </turbo-frame>
  <% end %>
</div>
