<div class="bg-slate-50 mt-2 flex justify-center" style="min-height: calc(100vh - 70px - 0.5rem)">
  <div class="min-w-[300px] space-y-4 mt-10">
    <%== rodauth.login_form_header %>
    <%= render "login_form" %>
    <%== rodauth.login_form_footer %>
  </div>
</div>
